<div class="object-dialog">
  <h1 md-dialog-title>Select Object</h1>

  <md-dialog-content class="object-dialog-content">
    <md-select placeholder="select object" [(ngModel)]="selectedObject" class="object-select">
      <md-option *ngFor="let obj of objectList" [value]="obj.name">
        {{ obj.name }} - {{ obj.label }}
      </md-option>
    </md-select>
  </md-dialog-content>

  <md-dialog-actions>
    <button md-raised-button color="primary" (click)="selectObject()">Select</button>
    <button md-raised-button md-dialog-close>Cancel</button>
  </md-dialog-actions>
</div>
