<md-toolbar color="primary">
    <h2>Force.com data spread</h2>
    <span class="fill-remaining-space"></span>
    <button md-icon-button md-mini-fab (click)="addTab()"
      mdTooltip="object" mdTooltipPosition="below">
      <md-icon class="md-24">add</md-icon>
    </button>
    <button md-icon-button md-mini-fab (click)="getData()"
      mdTooltip="get" mdTooltipPosition="below">
      <md-icon class="md-24">flash_on</md-icon>
    </button>
</md-toolbar>


<md-tab-group [selectedIndex]="selected" (selectChange)="tabChanged()">
  <md-tab *ngFor="let tab of tabs; let i = index;">
    <template md-tab-label>
      <button md-icon-button (click)="closeTab(i)">
        <md-icon>close</md-icon>
      </button>
      {{tab.title}}
    </template>
    <div handson-spread myStr="{{tab.content}}"></div>
  </md-tab>
</md-tab-group>
